/*BODY PRINCIPAL*/
body{
   
   
}
#gatito{
    
    height: auto;
   
    margin: 20px;
}
/*Principal*/

.contenedor-principal{
     
    width: 100%;
    
}
.banner {
  width: 100%;
 max-height: 300px;
}
.banner img{
    height: 200px;
    width: 100%;
}


/*CASA*/
.contenedorcasa{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 50px;
    
    
    
}
/* .contenedorcasa-back{
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    background-image: url(../src/img/Titilavaboe.jpg); 
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.contenedorcasa-back::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(51, 58, 177, 0.7);
} */


.titi{
padding: 10px 50px ;
}
.textoamigos{
padding: 10px 50px;
position: relative;

}
.textoamigos h2{
    text-align: center;
}

/*Listado*/
.menu{
   width: 100%;
   
  
}
.menu ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    width: 95%;
    
}

.menu  a{
    text-decoration: none;
    
    
}  


/*Album*/
.contenedor-album{
    width: 70%;
    margin: auto;
   display: grid;
   grid-template-rows: 1fr 1fr; 
   gap: 2em;
   
}
.card-uno{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2em;
}
.card-uno div{
    border: solid green;
    border-radius: 15px;
    display: flex;
}
.card-uno .gato img{
    height: 200px;
    margin: auto;
}
.card-uno .perro img{
    height: 200px;
    margin: auto;
}
.card-dos{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 2em;
}
.card-dos div{
    border: solid green;
    border-radius: 15px;
    display: flex;
}
.card-dos .conejo img{
    height: 200px;
    margin: auto;
}
.card-dos .caballo img{
    height: 200px;
    margin: auto;
}

/*Finales felices*/
.carrousel{
    width: 100%;
    
    height: 300px;
    position: relative;
    
    
     
}
.imagenesC{
    
    height: 100%;
    text-align: center;
    
    
    
} 
.flechasC{
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 20px;

}

/*CASA DE ACOGIDA*/
.presentaciones{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50% ;
    margin: auto;
}
.presentaciones .acogidos{
    display: grid;
    grid-template-rows: 200px 200px;
    border: solid 2px rgb(225, 226, 231);
    border-radius: 25px;
    background-color:rgb(248, 238, 238);
    margin-bottom: 10px;
}

.acogidos img{
    width: 50%;
    height: 200px;
    border-radius: 20px;
    
}
.acogidos .img_slide{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.presentaciones .exp{
    background-color: rgb(248, 238, 238);
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 25px;

}
.presentaciones .exp h3{
    text-align: center;
    color: blueviolet;
}

/*VETERINARIO*/

.bloqueVet{
    display: grid;
    grid-template-columns: 30% 60%;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }

  .respuestas #mostrararenero{
    height: 500px;
    
  }
  .respuestas #mostrarorinar{
    height: 500px;
    display: none;
    
  }
  .respuestas #mostrarlimpieza{
    height: 500px;
      display: none;
  }
  .respuestas #mostrarleganas{
    height: 500px;
      display: none;
  }
