/*BODY PRINCIPAL*/
body{
   
   
}
#gatito{
    background-color:rgb(250, 245, 245);
    height: 650px;
   
    margin: 20px;
}
/*Principal*/

.contenedor-principal{
     
    width: 100%;
    
}
.banner {
    display: grid;
    grid-template-columns: 75% 25%;
}
.banner .logo > img{
    max-width: 150px;
}

/*CASA*/
.contenedorcasa{
    width: 100%;
    
    
}
.contenedorcasa-back{
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-image: url(../src/img/Titilavabo.jpg); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 95%;
    margin: 5px auto;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.contenedorcasa-back::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(51, 58, 177, 0.7);
}


.titi{

width: 50%;
}
.textoamigos{
width: 100%;
padding: 40px 50px;
color: #FFF;
position: relative;
}
.textoamigos h2{
    text-align: center;
}

/*Listado*/
.menu{
   width: 100%;
}
.menu ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    width: 95%;
}

.menu  a{
    text-decoration: none;
    
}  


/*Album*/
.contenedor-album{
    width: 70%;
    margin: auto;
   display: grid;
   grid-template-rows: 1fr 1fr; 
   gap: 2em;
   
}
.card-uno{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2em;
}
.card-uno div{
    border: solid green;
    border-radius: 15px;
    display: flex;
}
.card-uno .gato img{
    height: 200px;
    margin: auto;
}
.card-dos{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 2em;
}
.card-dos div{
    border: solid green;
    border-radius: 15px;
}
.card-uno .perro img{
    height: 200px;
    margin: auto;
}

/*Finales felices*/
.carousel-item{
    
    width: 100%;
    
    
}
.carousel-item img{
    display: flex;
    justify-content: center;
    margin: auto;
    max-height: 400px;
    width: 80%;
    margin: auto;
    margin: 10px auto;
    
}

/*CASA DE ACOGIDA*/
.presentaciones{
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60% ;
    margin: auto;
}
.presentaciones .acogidos{
    display: grid;
    grid-template-rows: 200px 150px;
    border: solid;
}
.presentaciones .exp{
    border: solid;
}
